In [21]:
import os
import pandas as pd
import numpy as np
import datetime as dt
import matplotlib.pyplot as plt
import proplot as plot
import geopandas as gpd
import xarray as xr
import rioxarray as rioxr

In [22]:
#####在qgis里面通过按位置选择获得的西南河流所有的冰川
pth='D:/Key_works/20231212dh_calculate/xnhl_test'
gla_pth=pth+'/shp/gla_cgi1_basin.gpkg'
df_gla=gpd.read_file(gla_pth)
df_gla=df_gla.set_index('Glc_Code')

In [23]:
df_gla.head(1)

,Drng_Code,Old_Code,Glc_Area,Max_Elev,Tail_Elev,Mean_Elev,MA_Elev,Mean_Slp,Mean_Asp,Fst_Src,...,Connect,Form,TermType,Surging,Linkages,layer,path,basin,CAL_area,geometry
Glc_Code,,,,,,,,,,,,,,,,,,,,,
G098661E38234N,5Y444G,5Y444G0008,2.019998e+07,5286.5,4283.0,4809.9,4825.0,13.9,338.0,10-47-66,...,NaN,NaN,NaN,NaN,NaN,CGI1_link2RGI — joined_layer,D:/Key_works/20231212dh_calculate/gla/CGI1_lin...,Yellow,2.019998e+07,"MULTIPOLYGON (((-539810.688 4118734.500, -5397..."

In [25]:
len(df_gla),df_gla['CAL_area'].sum()/1000/1000

(24869, 30274.244343406608)

In [7]:
pth_stus=pth+'\\dh-glacier-flag.csv'
df_flag=pd.read_csv(pth_stus)

In [8]:
df_flag.head(2)

,Unnamed: 0,group_id,gla_id,glacier_ratio,acc_ratio,abla_ratio,flag
0,0,g0018,G101096E33298N,0.713396,0.720497,0.706250,1
1,1,g0018,G101101E33298N,0.264881,0.160714,0.369048,0

In [9]:
dxt_effe=pd.read_csv(pth+'\\dh-effe-sta_xnhl.csv',index_col='gla_id')
#dxt_effe.head()
dxt_effe=dxt_effe[~dxt_effe.index.duplicated(keep='first')]
dxt_effe.head(2)

,Unnamed: 0,group_id,mean,median,mean_acc,mean_abla,mean_fill,median_fill,mean_fill_acc,mean_fill_abla
gla_id,,,,,,,,,,
G101096E33298N,0,g0018,-2.247736,-4.501035,-6.477638,2.094464,-2.532606,-4.124494,-6.559232,1.519185
G101108E33292N,1,g0018,1.705512,1.456494,2.391292,1.354538,1.766449,1.840311,2.213538,1.314424

In [10]:
len(dxt_effe)

14426

In [11]:
##获得有效冰川与西南河流冰川的交集  因为所有的冰川都在group里面计算的，但是group里的冰川不一定全部在西南河流里
dxt_effe_final=pd.concat([dxt_effe[['group_id','mean','median','mean_fill','median_fill']],df_gla[['Glc_Area','Mean_Elev','Mean_Slp','Mean_Asp','MA_Elev','basin']]],axis=1).dropna()

In [12]:
dxt_effe_final[['mean']].mean(),len(dxt_effe_final)

(mean   -9.524963
 dtype: float64,
 13117)

In [111]:
####获取最终用于统计计算的冰川

In [13]:
dxt_effe_final.head(1)

,group_id,mean,median,mean_fill,median_fill,Glc_Area,Mean_Elev,Mean_Slp,Mean_Asp,MA_Elev,basin
G101096E33298N,g0018,-2.247736,-4.501035,-2.532606,-4.124494,293031.2539,4942.3,39.4,315.8,4939.9,Yellow

In [14]:
len(dxt_effe_final)

13117

In [80]:
'有效冰川比例：',len(dxt_effe_final)/len(df_gla), '地形图未覆盖比例：',(len(df_gla)-len(df_flag))/len(df_gla)

('有效冰川比例：', 0.527443805541035, '地形图未覆盖比例：', 0.2766094334311794)

In [82]:
'有效冰川面积比例：',(dxt_effe_final['Glc_Area'].sum())/(df_gla['Glc_Area'].sum())

('有效冰川面积比例：', 0.7166043550675426)

In [83]:
dxt_effe_final.to_csv(pth+'\\dh-effe-stat.csv')

In [5]:
df_gla['Glc_Area'].sum()/1000/1000

30274.2398652608

In [6]:
len(df_gla)

24869

In [16]:
dxt_effe_final['Glc_Area'].sum()/1000/1000

21694.652133805303